{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 200
      }
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/prop-types": [
      "off"
    ],
    "no-return-assign": [
      "off"
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "global-require": "off",
    "consistent-return": "off",
    "react/destructuring-assignment": [
      "error",
      "always",
      {
        "ignoreClassFields":true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": false
      }
    ]
  }
}